* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body {
  width: 100%;
  height: 100%;
}
  
#center {
  width: 40%;
  height: 50%;

  background-color: cadetblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.imageDiv {
  width: 150px;
  height: 240px;
  position: absolute;
  overflow: hidden;
  overflow: hidden;
}

.imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(100%);
}